/* NAVBAR */
#navbar > * { height: inherit; }

#navbar {
  height: var(--bar-heights);
  display: flex;
  position: fixed;

  width: 100%;
  top: var(--bar-heights);
  padding-left: calc(var(--nav-side-padding)/2);

  padding-top: var(--nav-vert-padding);
  padding-bottom: var(--nav-vert-padding);

  box-shadow: inset 0px 1px 0px 0px var(--outline), inset 0px -1px 0px 0px var(--outline);

  background: var(--navbar-color);
}

/* NAVBAR ITEMS */

.spacer {
  flex-grow: 1;
}

#navbar > * > button > img { opacity: 0.9; }

.nav-group {
  display: flex;
}

.nav-group > button {
  background: none;
  width: 34px;
  border-radius: var(--round-corners);

  transition: var(--transition);
}

.nav-group > button:disabled {
  opacity: var(--disabled-opacity);
}

.nav-group > button:not(:disabled):hover {
  background: var(--darker-1);
}

.nav-group > button:not(:disabled):active {
  background: var(--darker-2);
}

.nav-group > button > img {
  width: 85%;
}

.nav-group:last-child {
  margin-right: var(--nav-side-padding);
}

#nav-center {
  background: white;
  min-width: 75%;

  display: flex;
  border-radius: var(--round-corners);

  box-shadow: inset 1px -1px 0px 0px var(--darker-2), inset -1px 1px 0px 0px var(--darker-2);
}

#nav-center > button {
  padding: 10px;
  transition: var(--transition);
}

#nav-center > button:hover {
  background: var(--darker-1);
}

#nav-center > button > img{
  width: 17px; height: 17px;
}

#url {
  width: 100%;
  height: 100%;

  background: transparent;
  border: none;

  padding: 0px 5px;
}

.secure {
  box-shadow: inset 1px -1px 0px 0px var(--darker-2), inset -1px 1px 0px 0px var(--darker-2);
  background: #DCFFDF;
  border-radius: var(--round-corners) 0px 0px var(--round-corners);
}

.secure > img {
  filter: invert(54%) sepia(75%) saturate(3940%) hue-rotate(96deg) brightness(106%) contrast(109%);
}

.insecure {
  box-shadow: inset 1px -1px 0px 0px var(--darker-2), inset -1px 1px 0px 0px var(--darker-2);
  background: #FFDCDC;
  border-radius: var(--round-corners) 0px 0px var(--round-corners);
}

.insecure > img {
  filter: invert(22%) sepia(72%) saturate(7488%) hue-rotate(356deg) brightness(84%) contrast(122%);
}

#site-info { transition: var(--transition); }
.search-active { background: var(--darker-1); }

/* SPINNER */

.spinner { animation: rotator var(--spinner-duration) linear infinite; }

@keyframes rotator {0% { transform: rotate(0deg); } 100% { transform: rotate(270deg); }}

.path {
  stroke-dasharray: var(--spinner-offset); stroke-dashoffset: 0; stroke: #4285F4;
  transform-origin: center; animation: dash var(--spinner-duration) ease-in-out infinite;
}

@keyframes dash {
 0% { stroke-dashoffset: var(--spinner-offset); }
 50% { stroke-dashoffset: calc(var(--spinner-offset)/4); transform:rotate(135deg);}
 100% { stroke-dashoffset: var(--spinner-offset); transform:rotate(450deg); }
}
