@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");

/**
 *   MAKE ELECTRON APP FEEL MORE NATIVE
 *
 *   * Prevent dragging all HTML elements, specially:
 *   	- images
 *   	- links (anchors)
 *
 *   * Prevent text selection
 */

*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

cssbody {
  font: caption;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #313a43;
}

*:focus {
  outline: none;
}

* {
  font-family: "Roboto", sans-serif !important;
  font-weight: unset;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  height: 100%;
  width: 100%;
  display: block;
  background: #efeeee;
  overflow-y: hidden;
  /* padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  */box-sizing: content-box; /* So the width will be 100% + 17px */
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

webview {
  width: 100%;
  height: 100%;
  background: white;
}

#permission-container {
  padding: 0px 25px;
  padding-top: 1px;
  border-radius: 4px;
  vertical-align: middle;
  line-height: 30px;
  color: #050708;
  position: relative;
  float: left;
  left: 40px;
  font-size: 15px;
}

#permissions {
  bottom: 25px;
  position: fixed;
  background: grey;
  z-index: 11;
  width: 100%;
  width: auto;
  display: block;
}

#navigation div:not(#omnibox) {
  float: left;
  display: block;
  min-width: 30px;
  min-height: 30px;
  font-size: 20px;
  color: #2e3033;
}

#navigation div:not(#omnibox) img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 22px;
}

#navigation div:not(#omnibox) {
  border-radius: 4px;
  transition: all 0.05s;
  position: relative;
  padding: 3px;
  margin-top: -6px;
}

#navigation div:not(.disabled):not(#omnibox):hover,
.etabs-tab-buttons button:hover,
.etabs-buttons button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#navigation div:not(.disabled):not(#omnibox):active,
.etabs-tab-buttons button:active,
.etabs-buttons button:active {
  background-color: rgba(0, 0, 0, 0.065);
}

#topbar {
  z-index: 4;
  margin-top: 41px;
  position: fixed;
  width: 100%;
  background: transparent;
  display: block;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

#navigation {
  width: 100%;
  height: 38px;
  background: transparent;
  display: block;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 2px 40px;
  margin-top: 10px;
}

#navigation #omnibox {
  float: left;
  display: block;
  width: calc(100% - 230px);
  cursor: text;
}

#navigation #omnibox #search {
  margin-left: 12px;
  position: absolute;
  margin-top: -3px;
  width: 20px;
  padding: 5px;
  cursor: default;
  border-radius: 4px;
}

#navigation #omnibox #search:hover, .search-active {
  background: rgba(0, 0, 0, 0.1);
}

#navigation #omnibox #star {
  margin-left: -42px;
  position: absolute;
  margin-top: -3px;
  width: 20px;
  cursor: default;
  padding: 5px;
  border-radius: 4px;
}

.star-hover {
  background: rgba(0, 0, 0, 0.1);
}

.url-hover {
  box-shadow: inset 0px 0px 0px 1px #e6e6e6;
  transition: all 0.05s;
}

#url {
  box-sizing: border-box;
  border: none;
  outline: none;
  height: 34px;
  width: 90%;
  border-radius: 4px;
  padding: 7px 15px;
  color: #2e3033;
  background-color: #F1F3F4;
  margin: -5.5px 10px 0px 10px;
  cursor: text;
  padding: 0px 40px;
  transition: all 0.01s;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#url::placeholder {
  color: #909192;
}

#tabs {
  width: 100%;
  left: 0;
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  height: 40px;
  padding: 0;
  margin: 0;
  background: rgba(7, 15, 78, 0.7);
}

#tabs::-webkit-scrollbar {
  background: red;
  outline: none;
  border: none;
  height: 3px;
}

#tabs::-webkit-scrollbar-thumb {
  background: white;
}

#tabs .tab {
  margin: 0;
  width: 100px;
  background: #070f4e;
  display: inline-block;
  height: 40px;
  margin-left: -4px;
  color: #eee;
  text-align: left;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  box-sizing: border-box;
  border-right: #eee 1px solid;
  line-height: 32px;
}

#tabs .tab .close {
  position: absolute;
  right: 0;
  top: 0;
  height: 20px;
  width: 20px;
  text-align: right;
  font-size: 14px;
  line-height: 0;
  font-family: monospace;
  background: #070f4e;
}

#tabs .tab .close:hover {
  color: darkred;
}

#tabs .tab:first-of-type {
  margin-left: 0;
}

#views {
  position: relative;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 28px);
}

#target {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  z-index: 11;

  padding: 7px;
  padding-top: 8px;

  background-color: #f7f7f9;

  color: #121212;
  position: fixed;
  left: 0px;
  bottom: 0px;
  font-size: 14px;
}

#notifications {
  cursor: pointer;
  position: fixed;
  right: 0px;
  z-index: 9999;
  bottom: 0px;
  margin-bottom: 22px;
  margin-right: 15px;
  max-width: 300px;
}

#autocomplete {
  top: 86.5px;
  left: 170px;
  position: fixed;
  height: auto;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 10px 27px -10px rgba(140, 140, 140, 0.5);
  z-index: 5;
}

#autocomplete > div {
  font-size: 13px;
  padding: 15px 15px;
  background: #F1F3F4;
  transition: all 0.035s;
  color: #2e3033;
  border-radius: none;
}

#autocomplete > div.selected {
  background: #e2e8eb;
  cursor: pointer;
}

#autocomplete > div:last-child {
  border-radius: 0px 0px 4px 4px;
}

#autocomplete > div > img {
  opacity: .2;
  width: 20px;
  margin-right: 10px;
  margin-bottom: -6px;
}

b {
  font-weight: 700;
}

#navigation, #topbar, .etabs-views {
  background: white;
  border: none !important;
}

#find {
  background: transparent;
  color: #2e3033;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 35px;
  display: none;
  line-height: 35px;
  padding-left: 10px;
}

#find input {
  cursor: text;
  padding: 3px 7px;
  font-weight: 700;
}

#find #matches,
#match-case {
  font-weight: 500;
  margin-left: 10px;
  font-size: 14px;
}

#match-case {
  cursor: pointer;
  border: 2px #eee;
  padding: 5px 10px;
}

#match-case.down {
  background: #ddd;
  border: 2px solid #2e3033;
}

#close-find {
  bottom: 5px;
  position: absolute;
  right: 17px;
  background: transparent;
  border: none;
  font-size: 18px;
}

#close-find:hover {
  box-shadow: inset 0px 0px 0px 1px #c1c1c1;
  background: rgba(0, 0, 0, 0.075) !important;
}

#pip {
  display: none !important;
}

.earth, .earth svg {
  width: 19px;
  height: 19px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: inline-block;
  position: absolute;
  color: black;
}

.spinner {
  width: 19px;
  height: 19px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: inline-block;
  animation: spinner-rotate 1.4s linear infinite;
  position: absolute;
  color: black;
}

.svg {
  display: block;
}

.circle {
  stroke: currentColor;animation: spinner-dash 1.4s ease-in-out infinite;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0px;
}

@-webkit-keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-dash {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

.messageBox {
  position: absolute;
  width: 100%;
}

.message {
  background: #272A2F;
  width: 294px;
  height: 50px;
  color: white;
  position: relative;
  top: 37px;
  opacity: 0.9;
  z-index: 5;
}

.message p {
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.message p span {
  border-radius: 2px;
  border: white solid 1px;
  padding: 5px;
  border-radius: 2px;
  color: white;
}

.disabled {
  opacity: 0.25;
}
