html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1;
  height: 100%;
  width: 100%;
  display: block;
  background: #f5f5f5;
  overflow-y: hidden;
  /* padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */ */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#permission-container {
  padding: 0px 25px;
  padding-top: 1px;
  border-radius: 25px;
  vertical-align: middle;
  line-height: 30px;
  color: #050708;
  position: relative;
  float: left;
  left: 40px;
  font-size: 15px;
}

#permissions {
  bottom: 25px;
  position: fixed;
  background: grey;
  z-index: 11;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  width: auto;
  display: block;
}

#navigation #back, #navigation #forward, #navigation #refresh, #navigation #fave, #navigation #list, #navigation #shield {
  float: left;
  display: block;
  min-width: 30px;
  min-height: 30px;
  font-size: 20px;
  color: #2e3033;
}

#navigation div:not(#omnibox):not(#fave-popup) img{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 22px;
}

#navigation div:not(#omnibox):not(#fave-popup){
  border-radius: 5px;
  transition: all 0.1s;
  position: relative;
  margin-top: -2px;
}

#navigation div:not(#omnibox):not(#fave-popup):hover{
  background-color: rgba(0, 0, 0, 0.075);
}

#topbar {
  z-index: 4;
  margin-top: 47px;
  position: fixed;
  width: 100%;
  background: white;
  display: block;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

#navigation {
  width: 100%;
  height: 40px;
  background: white;
  display: block;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 2px 40px;
  margin-top: 10px;
}

#navigation #omnibox {
  float: left;
  display: block;
  width: calc(100% - 180px);
}

#navigation #omnibox input {
  border: none;
  outline: none;
  height: 20px;
  width: 90%;
  border-radius: 50px;
  padding: 5px 15px;
  color: #2e3033;
  background-color: #F5F5F5;
  font-weight: 600;
  margin: -2px 10px 0px 10px;
}

#navigation #omnibox input::selection {
  background: rgba(0, 148, 255, 0.2);
}

#navigation #fave-popup {
  opacity: 0;
  margin-right: 10px;
  margin-top: 65px;
  border-radius: 5px;
  display: none;
  position: fixed;
  right: 1px;
  color: #eee;
  top: 29px;
  width: 180px;
  height: auto;
  z-index: 10;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: white;
  box-shadow: 0px -5px 30px 1px rgba(0, 0, 0, 0.075);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#navigation #fave-popup .link {
  width: 100%;
  height: 32px;
  color: #050708;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-align: left;
  display: block;
  line-height: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 4px;
}

#navigation #fave-popup .link:hover {
  background-color: #f5f5f5;
}

#navigation #fave-popup .link:hover > img {
  background-color: #f5f5f5;
}

#navigation #fave-popup .link .favicon {
  width: 32px;
  height: 32px;
  float: left;
  background: #fff;
  margin-right: 5px;
}

#tabs {
  width: 100%;
  left: 0;
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  height: 40px;
  padding: 0;
  margin: 0;
  background: rgba(7, 15, 78, 0.7)
}

#tabs::-webkit-scrollbar {
  background: red;
  outline: none;
  border: none;
  height: 3px
}

#tabs::-webkit-scrollbar-thumb {
  background: white
}

#tabs .tab {
  margin: 0;
  width: 100px;
  background: #070F4E;
  display: inline-block;
  height: 40px;
  margin-left: -4px;
  color: #eee;
  text-align: left;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  box-sizing: border-box;
  border-right: #eee 1px solid;
  line-height: 32px
}

#tabs .tab .close {
  position: absolute;
  right: 0;
  top: 0;
  height: 20px;
  width: 20px;
  text-align: right;
  font-size: 14px;
  line-height: 0;
  font-family: monospace;
  background: #070F4E
}

#tabs .tab .close:hover {
  color: darkred
}

#tabs .tab:first-of-type {
  margin-left: 0
}

#views {
  position: relative
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 28px)
}

#dialog {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 1000px;

  padding: 0px 25px;
  padding-top: 1px;
  border-radius: 25px;
  background-color: #f5f5f5;
  vertical-align: middle;
  line-height: 30px;
  color: #050708;
  position: relative;
  float: left;
  left: 40px;
  font-size: 15px;
}

#dialog-container {
  bottom: 25px;
  position: fixed;
  z-index: 11;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: none;
}
