@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

/**
 *   MAKE ELECTRON APP FEEL MORE NATIVE
 *
 *   * Prevent dragging all HTML elements, specially:
 *   	- images
 *   	- links (anchors)
 *
 *   * Prevent text selection
 */

*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", sans-serif;
}

#drag-region, #titlebar {
  --webkit-app-drag: drag !important;
  -webkit-app-drag: drag !important;
}

#content {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 75px;
  margin-top: 0px;
}

#title {
  margin-top: 50px;
  font-size: 40px;
  color: #313a43;
  font-weight: 700;
}

#titlebar {
  top: 0;
}

#header-icon {
  width: 35px;
  height: auto;
}

#header-text {
  margin: 0;
  margin-top: 7px;
  font-size: 22px;
  font-family: "Nexa";
  font-weight: 700;
  color: #313a43;
}

.heading {
  margin-top: 35px;
  font-size: 19px;
}

.heading-title {
  font-weight: 500;
  color: #313a43;
  margin-bottom: 20px;
}

.heading-element {
  justify-content: left;
  align-items: center;
  padding-left: 50px;
  height: 50px;
  width: 500px;
}

.dropdown, .dropup {
  float: right;
}

.dropdown-toggle {
  font-family: roboto;
  font-size: 17px;
  font-weight: 400;
}

.dropdown-toggle:focus:not(.dropup > .dropdown-toggle) {
  border-radius: 4px 4px 0px 0px;
}

.dropup > .dropdown-toggle:focus {
  border-radius: 0px 0px 4px 4px;
}

.btn {
  border-radius: 4px;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  color: #313a43;
  transition: all 0.1s;
  background-color: white;
  border: 2px solid #313a43;
  /* box-shadow: -4px 4px 0px 0px rgba(49,58,67,1);
  transform: translate(4px, -4px); */
  font-weight: 700;
}

.btn:hover {
  background-color: #313a43 !important;
  color: white !important;
  transform: translate(0px, -3.5px);
  border: 2px solid #313a43;
  box-shadow: 0px 3.5px 0px 0px #5f6973;
}

.btn:focus {
  background-color: #313a43 !important;
  color: white !important;
  transform: translate(0px, 0px);
  border: 2px solid #313a43;
  box-shadow: unset !important;
}

.dropdown-toggle::after {
  cursor: inherit !important;
}

.label {
  display: inline-block;
  font-size: 22px;
}

#pills-profile {
  top: 100px;
  right: 100px;
  line-height: 5px;
}

#profile {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background: #eee;
}

#name {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 24px;
  white-space: nowrap;
  font-weight: 700;
  font-family: "Roboto";
}

#signedIn {
  font-size: 20px;
  white-space: nowrap;
  color: #cacad2;
  font-weight: 500;
  font-family: "Roboto";
}

#signOut {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 15px;
  white-space: nowrap;
  margin-left: auto;
  margin-right:0;
  height: 50px;
  width: 100px;
  color: #313a43;
  transition: all 0.1s;
  background: none;
}

#profile-text {
  margin-left: 20px;
  line-height: 15px;
}

#profile-jumbo {
  background-color: #fff;
  border: 2px solid #313a43;
  border-radius: 4px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s;
}

#profile-jumbo:hover {
  background: #fff9ea;
}

#profile-container {
  display: inline-flex;
  align-items: center;
  padding: 0px;
}

.nav-item:first-child > .nav-link {
  border-radius: 5px 0px 0px 5px !important;
}

.nav-item:last-child > .nav-link {
  border-radius: 0px 5px 5px 0px !important;
}

.nav-link {
  background-color: #f7f7f9;
  color: #313a43;
  border-radius: 0px !important;
  padding-top: 10px;
  font-family: "Roboto";
  font-weight: 700;
  transition: all 0.1s;
}

.nav-link:hover {
  color: #fbb700;
  cursor: pointer;
}

.nav-link.active {
  background-color: #fbd263 !important;
}

.nav-pills {
  margin-top: 20px;
}

.clearHistory {
  margin-bottom: 10px;
}

.list-group {
  margin-bottom: 35px;
}

.bookmark-icon, .history-icon {
  width: 25px;
  height: 25px;
  float: left;
  transition: all 0.1s;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
  padding: 5px;
  border-radius: 100px;
}

.search-engine-icon {
  width: 23px;
  height: 23px;
  float: left;
  transition: all 0.1s;
  transform: translateY(4%);
  margin-right: 10px;
}

.note {
  font-size: 16px;
  text-align: right;
  white-space: nowrap;
}

.delete-bookmark {
  font-family: Roboto;
  float: right;
  position: absolute;
  right: 15px;
  color: #333;
  background: none;
  border: none;
  font-size: 17px;
  border-radius: 4px;
  margin-left: -2px;
  width: 20px;
  text-align: center;
  padding: 4px 28px 4px 5px;
  transition: all 0.1s;
  margin-top: -18px;
}

.delete-bookmark:hover {
  background-color: rgba(0,0,0,0.05);
}

.item-history, .item-bookmarks {
  white-space: nowrap;
  position: relative;
  padding: 0.55rem 1.25rem 0.25rem 1.25rem;
  transition: all 0.1s;
  border: 2px solid #313a43;
  margin-bottom: -3px;
}

.item-history:hover, .item-bookmarks:hover {
  transform: translate(4px, 0px);
  box-shadow: -4px 0px 0px 0px #313a43;
  cursor: pointer;
  background: #fff9ea;
}

.default-item {
  color: #313a43;
  font-weight: 500;
  padding: 0.55rem 1.25rem;
}

.item-history > .history-title, .item-bookmarks > .bookmark-title {
  color: #313a43;
  font-weight: 700;
  vertical-align: middle;
  margin-left: 35px;
  cursor: inherit;
}

.item-history > .history-url, .item-bookmarks > .bookmark-url {
  color: #f7c200;
  position: relative;
  top: -9px;
  vertical-align: middle;
  margin-left: 35px;
  cursor: inherit;
  font-weight: 500;
}

.dropdown-menu {
  border: 2px solid #313a43;
  border-radius: 0px 4px 4px 4px;
  margin-top: -2px;
}

.dropup > .dropdown-menu {
  border: 2px solid #313a43;
  border-radius: 4px 4px 4px 0px;
  margin-top: 0px;
  margin-bottom: -2px;
}

.dropdown-item {
  padding: .25rem 1rem;
  font-weight: 500;
}

.dropdown-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}
