/* TITLEBAR */

#titlebar {
  height: var(--bar-heights);
  width: 100%;

  display: flex;
  position: fixed;

  background: var(--darker-2);
}

#titlebar > * { height: inherit; }

/* TABS */

#tabs {
  min-width: 125px;
  max-width: 85%;
  display: flex;

  align-items: center;
}

.tab {
  border-top-left-radius: var(--round-corners);
  border-top-right-radius: var(--round-corners);

  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-shrink: 1;

  min-width: 50px;

  transition: var(--transition);

  padding-left: var(--tab-padding);
}

.tab:not(.selected):hover {
  background: var(--lighter-1);
}

.tab.selected {
  background: var(--navbar-color);
  /* border-top-left-radius: var(--round-corners);
   border-top-right-radius: var(--round-corners); */

  transition: var(--transition);
  box-shadow: -1px 0px 0px 0px var(--outline), 1px 0px 0px 0px var(--outline), 0px 1px 0px 0px var(--navbar-color);
}

/* TAB ITEMS */

.tab-icon {
  width: 15px;
  height: 15px;

  margin-right: var(--tab-padding);

  transition: var(--transition);
}

img[src="//:0"] {
  margin: 0px;
  width: 0px;
}

.tab-label {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.tab-label:after {
  content: '';
  background: linear-gradient(90deg, transparent, var(--navbar-color));

  width: 20px;
  height: 100%;

  position: absolute;
  top: 0px; right: 0px;
}

.tab:hover > .tab-close { opacity: 0.75; }

.tab-close {
  opacity: 0;

  width: 12px;
  height: 12px;

  margin: 1px 4px 0px 7px;
  margin-left: auto;
  padding: 6px;

  border-radius: 50%;
  transition: var(--transition);
  flex-shrink: 0;
}

.tab-close:hover {
  background: var(--darker-1);
}

/* NEW TAB BUTTON */

#new-tab {
  margin-left: 3px;

  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: var(--transition);
}

#new-tab:hover {
  background: var(--darker-1);
  border-radius: var(--round-corners);
}

#new-tab > img {
  width: 15px;
}

/* DRAGGABLE REGION */

#drag-region {
  flex-grow: 1;
  -webkit-app-region: drag;
}

/* WINDOW CONTROLS */

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  top: 0;
  right: 0;
  font-size: 14px;

  -webkit-app-region: no-drag;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;

  height: inherit;
}

#window-controls .button img {
  width: 15px;
  height: 15px;
}

#window-controls .button {
  user-select: none;
  cursor: default;
  color: #050708;

  transition: var(--transition);
}

#window-controls .button:hover{ background: var(--darker-1); }

#window-controls #min-button { grid-column: 1; }
#window-controls #max-button,
#window-controls #restore-button { grid-column: 2; }
#window-controls #close-button {
  grid-column: 3;
  transition: var(--transition);
}

#window-controls #restore-button { display: none; }

#window-controls #close-button:hover { background: #e81123; }
#window-controls #close-button:hover > img { filter: invert(1); }
