/* TITLEBAR */

#titlebar {
  height: var(--bar-heights);
  width: 100%;

  display: flex;
  position: fixed;

  top: 40px;

  background: var(--nord4);
}

#titlebar > * { height: inherit; }

/* TABS */

#tabs {
  min-width: 125px;
  max-width: 85%;
  display: flex;

  align-items: center;
}

.tab {
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-shrink: 1;

  min-width: 50px;

  padding-left: var(--tab-padding);

  position: relative;
}

.tab.selected {
  background: var(--nord5);
  /* border-top-left-radius: var(--round-corners);
   border-top-right-radius: var(--round-corners); */

   box-shadow: -1px 0px 0px 0px var(--outline), 1px 0px 0px 0px var(--outline), 0px -1px 0px 0px var(--nord5), inset 0px -1px 0px 0px var(--outline);
}

/* TAB ITEMS */

.tab-icon {
  width: 15px;
  height: 15px;

  margin-right: var(--tab-padding);
}

img[src="//:0"] {
  margin: 0px;
  width: 0px;
}

.tab-label {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
}

.tab-label:after {
  content: '';
  background: linear-gradient(90deg, transparent, var(--nord4));

  width: 30px;
  height: 98%;

  position: absolute;
  top: 0px; right: 28px;
}

.tab.selected > .tab-label:after {
  background: linear-gradient(90deg, transparent, var(--nord5));
}

.tab-close {
  opacity: 0.75;

  width: 12px;
  height: 12px;

  margin: 0px 4px 0px 7px;
  margin-left: auto;
  padding: 6px;

  border-radius: 50%;
  transition: var(--transition);
  flex-shrink: 0;
}

.tab-close:hover {
  background: var(--darker-1);
}

/* NEW TAB BUTTON */

#new-tab {
  margin-left: 5px;

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: var(--transition);
}

#new-tab:hover {
  background: var(--darker-1);
  border-radius: var(--round-corners);
}

#new-tab > img {
  width: 15px;
}
