/* VARIABLE ALTERING */

:root {
  --lighter-1: rgba(0,0,0,0.1);

  --darker-1: rgba(255,255,255,0.1);
  --darker-2: rgba(255,255,255,0.2);

  --outline: #232831;

  --background: var(--nord0);
  --foreground: var(--nord4);
}

/* STYLING CHANGE */

html, body { background: var(--nord0) !important; }

#navbar { background: var(--nord1); }
#titlebar { background: var(--nord0); }

.tab-close:hover {
  background: var(--lighter-1);
}

.tab.selected {
  background: var(--nord1);
  box-shadow: -1px 0px 0px 0px var(--outline), 1px 0px 0px 0px var(--outline), 0px -1px 0px 0px var(--nord1), inset 0px -1px 0px 0px var(--outline);
}

.tab.selected > .tab-label:after {
  background: linear-gradient(90deg, transparent, var(--nord1));
}

.tab:not(.selected) > .tab-label:after {
  background: linear-gradient(90deg, transparent, var(--nord0));
}

#new-tab { margin-left: 3px; }

#nav-center { background: var(--background); box-shadow: none; }

#site-info, #site-info:hover { background: var(--nord1); border: 2px var(--background) solid; }

.secure { background: #00ff1521 !important; }
.insecure { background: #ff2c2c30 !important; }

#window-controls > .button > span {
  color: var(--nord4) !important;
}

/* ICON AND TEXT INVERSION */

img[src$="svg"]:not(.extension) {
  filter: invert(90%) sepia(9%) saturate(224%) hue-rotate(180deg) brightness(99%) contrast(91%);
}

svg { fill: var(--nord4) !important; }

#url, h1, h2, h3, h4, h5, h6, p { color: var(--nord4); }

/* SETTINGS */

#title, .heading-title { color: var(--nord4); }

.dropdown-item { color: var(--foreground); transition: var(--transition); font-weight: 500; }
.dropdown-item:hover { background-color: var(--foreground-secondary); color: var(--foreground); }

/* OTHER PAGES */

ul { border-color: var(--nord4); }

#clear { border-color: var(--nord4); color: var(--nord4); }

li img { background: var(--nord4); border-radius: 50%; }

/* JSON VIEWER */

.json-string {
  color: var(--yellow);
}

a.json-toggle, span.json-label {
  color: #54c0ff;
}

.json-literal {
  color: #40dc38;
}