/* VARIABLE ALTERING */

:root {
  --navbar-color: var(--dark-1);

  --dark-4: #181818;

  --lighter-1: rgba(0,0,0,0.1);

  --darker-1: rgba(255,255,255,0.1);
  --darker-2: rgba(255,255,255,0.2);

  --outline: black;
}

/* STYLING CHANGE */

body { background: var(--dark-1); }

#titlebar { background: var(--dark-3); }

.tab-close:hover {
  background: var(--lighter-1);
}

#nav-center { background: var(--dark-4); box-shadow: none; }

.secure { background: #00ff1521; }
.insecure { background: #ff2c2c30; }

#window-controls > .button > span {
  color: white !important;
}

/* ICON AND TEXT INVERSION */

img[src$="svg"]:not(.extension) {
  filter: invert(1);
}

.tab-label, #url { color: white; }

/* SETTINGS */

.nav-link.active { color: var(--dark-3) !important; }
.nav-link:not(.active) {
  background-color: var(--dark-2);
  color: white;
}

#pills-tabContent, #title, .heading-title, #signOut {
  color: white;
}

#profile-jumbo {
  border: none;
  background: var(--dark-2);
}

#profile-jumbo:hover {
  background: var(--dark-2);
}

#signOut { background: var(--dark-3) !important; }

.btn-secondary {
  color: white !important;
  background-color: var(--dark-3);
  border: none;
}

.dropdown-menu {
  background: var(--dark-3); width: max-content;
}

.dropdown-item { color: white; transition: var(--transition); font-weight: 500; }
.dropdown-item:hover { background-color: var(--yellow); }
