/* VARIABLE ALTERING */

:root {
  --navbar-color: var(--dark-1);

  --lighter-1: rgba(0,0,0,0.1);

  --darker-1: rgba(255,255,255,0.1);
  --darker-2: rgba(255,255,255,0.2);

  --outline: black;
}

/* STYLING CHANGE */

body { background: var(--dark-1); }

#titlebar { background: var(--dark-3); }

.tab-close:hover {
  background: var(--lighter-1);
}

#nav-center { background: var(--dark-2); }

#window-controls > .button > span {
  color: white !important;
}

/* ICON AND TEXT INVERSION */

img[src$="svg"]:not(.extension) {
  filter: invert(1);
}

.tab-label, #url { color: white; }
