@font-face {
    font-family: 'Nexa';
    src: local('Nexa Black'), local('Nexa-Black'),
        url('Nexa-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa Light Italic'), local('Nexa-LightItalic'),
        url('Nexa-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa Bold'), local('NexaBold'),
        url('NexaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa Book'), local('Nexa-Book'),
        url('Nexa-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa Book Italic'), local('Nexa-BookItalic'),
        url('Nexa-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa Thin'), local('Nexa-Thin'),
        url('Nexa-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa Heavy Italic'), local('Nexa-HeavyItalic'),
        url('Nexa-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa Bold Italic'), local('Nexa-BoldItalic'),
        url('Nexa-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa Light'), local('Nexa-Light'),
        url('Nexa-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa Regular Italic'), local('Nexa-RegularItalic'),
        url('Nexa-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa Heavy'), local('Nexa-Heavy'),
        url('Nexa-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa Regular'), local('Nexa-Regular'),
        url('Nexa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa Light'), local('NexaLight'),
        url('NexaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa Thin Italic'), local('Nexa-ThinItalic'),
        url('Nexa-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa Bold'), local('Nexa-Bold'),
        url('Nexa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa Black Italic'), local('Nexa-BlackItalic'),
        url('Nexa-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

